body {
    font-family: Arial, sans-serif;
    background-color: #f0e68c; /* cor suave e acolhedora */
    text-align: center;
    padding: 50px;
}

h1 {
    color: #2e8b57; /* verde que remete à natureza */
}

p {
    font-size: 1.2em;
    margin: 20px 0;
}

button {
    background-color: #ff7f50; /* cor vibrante */
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 1em;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ff6347; /* tom mais escuro ao passar o mouse */
}
